<link rel="stylesheet" href="css/new_diff_table.css" type="text/css" />

<div class="error top-gap">No database connection parameters to add</div>
<div class="buttons-group">
  <a href="/setup" id="setup" class="btn-submit">Back</a>
</div>
