<link rel="stylesheet" href="css/new_diff_table.scss" type="text/css" />

<div class="error top-gap">Need to select a database</div>
<div class="buttons-group">
  <a href="/setup" id="setup" class="btn-submit">Back</a>
</div>
