<link rel="stylesheet" href="css/new_diff_table.scss" type="text/css" />
<script src="javascript/jquery.min.js" type="text/javascript"></script>
<script src="javascript/setup.js" type="text/javascript"></script>

<form action="/compare" method="get" class="setup_view">
  <h2>Setup Database Connection</h2>
  <div>
    <span class="sub-title-type">Database Name:</span>
    <%= all_databases %>
  </div>

  <input type="hidden" id="cid" name="cid">
  <div class="buttons-group">
    <a href="/add_connection" id="add_connection_btn" class="btn-submit">Add Connection</a>
    <input id="compare" type="submit" class="btn-submit" value="Compare">
  </div>
  <br>
  <div class="buttons-group">
    <a href="/clear_data" id="clear_data" class="btn-submit">Clear Data Diff</a>
  </div>
</form>
