table {
  margin-top: 20px;
  border-collapse: collapse;
}

th {
  border: solid 1px black;
  padding: 3px;
}

td {
  border: solid 1px black;
  padding: 3px;
}

.deletion {
  background-color: #ffecec;
}

.addition {
  background-color: #eaffea;
}

.modification {
  background-color: #ffffe0;
}

.no-border {
  border: none;
}

.gap {
  padding-left: 40px;
}
